/* Estilos gerais */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif; /* Fonte base */
    color: #333;
    background-color: #f7f7f7;
}

/* Container centralizado */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Estilo do cabeçalho */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

header img {
    width: 100px;
    margin-right: 20px;
}

/* Estilo do título */
header h1 {
    font-size: 2.5rem;
    color: #4CAF50;
    line-height: 1.2;
    text-shadow: 2px 2px #888; /* Sombra suave para destaque */
    font-family: 'Arial', sans-serif;
}

/* Estilo dos botões de nível */
.levels {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
}

.level-button {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    transition: transform 0.3s ease;
    border: 2px solid #ccc;
    background-color: #e0e0e0;
}

.level-button.levelA {
    background-image: url('../imagens/levelA_button.png');
}

.level-button.levelB {
    background-image: url('../imagens/levelB_button.png');
}

.level-button.levelC {
    background-image: url('../imagens/levelC_button.png');
}

.level-button.levelD {
    background-image: url('../imagens/levelD_button.png');
}

.level-button:hover {
    transform: scale(1.05);
}

/* Estilo dos botões de unidade */
.units {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-bottom: 20px;
}

.unit-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    color: #333;
    background-color: #ffffff;
    border: 2px solid #4CAF50;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 150px;
    text-align: center;
    font-family: 'Arial', sans-serif; /* Fonte Arial */
}

.unit-button:hover {
    background-color: #4CAF50;
    color: white;
}

.unit-button.disabled {
    background-color: #ccc;
    color: #999;
    border-color: #aaa;
    pointer-events: none;
}

/* Estilo do botão voltar */
.back-button {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Arial', sans-serif; /* Fonte Arial */
}

.back-button:hover {
    background-color: #45a049;
}
