body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    margin: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    border: none;
    border-radius: 8px;
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#previousButton {
    background-color: #007bff; /* Azul */
}

#previousButton:hover {
    background-color: #0056b3; /* Azul mais escuro */
}

#tipsButton {
    background-color: #ffc107; /* Amarelo */
}

#tipsButton:hover {
    background-color: #e0a800; /* Amarelo mais escuro */
}

#readButton {
    background-color: #17a2b8; /* Azul */
}

#readButton:hover {
    background-color: #138496; /* Azul mais escuro */
}

#finishButton {
    background-color: #28a745; /* Verde */
}

#finishButton:hover {
    background-color: #218838; /* Verde mais escuro */
}

#nextButton {
    background-color: #007bff; /* Azul */
}

#nextButton:hover {
    background-color: #0056b3; /* Azul mais escuro */
}

#generatePdfButton {
    background-color: #6c757d; /* Cinza */
}

#generatePdfButton:hover {
    background-color: #5a6268; /* Cinza mais escuro */
}

#textContainer {
    margin: 20px;
    font-size: 18px;
    line-height: 1.5;
    max-width: 800px;
    margin: auto;
}

.missing-word {
    border-bottom: 2px solid #ddd;
    display: inline-block;
    min-width: 100px; /* Aumentar o espaço para escrita */
    text-align: center;
    padding: 2px;
}

#tipsContainer {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#tipsContainer span {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
}

.hidden {
    display: none;
}

#successContainer {
    margin: 20px;
    text-align: center;
}

#successGif {
    max-width: 100%; /* Ajustar para o tamanho da tela */
    height: auto;
    margin-top: 20px;
}
