body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    margin: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    border: none;
    border-radius: 8px;
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#readButton {
    background-color: #17a2b8; /* Azul */
}

#readButton:hover {
    background-color: #138496; /* Azul mais escuro */
}

#previousButton, #nextButton {
    background-color: #28a745; /* Verde */
}

#previousButton:hover, #nextButton:hover {
    background-color: #218838; /* Verde mais escuro */
}

#downloadPdfButton {
    background-color: #007bff; /* Azul */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    border: none;
    border-radius: 8px;
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#downloadPdfButton:hover {
    background-color: #0056b3; /* Azul mais escuro */
}

#questionContainer {
    margin: 20px;
    font-size: 18px;
    line-height: 1.5;
    max-width: 800px;
    margin: auto;
}

.option {
    display: block;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    font-size: 16px;
}

.option:hover {
    background-color: #e0e0e0;
}

.hidden {
    display: none;
}

#feedbackContainer {
    margin: 20px;
    text-align: center;
}

#feedbackGif {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
