/* Estilo para as fases */
.phase {
    position: absolute;
    width: 8vw;
    height: 8vw;
    max-width: 100px;
    max-height: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.phase img {
    width: 100%; /* Ajusta a imagem para caber dentro do círculo */
    height: auto;
}

/* Ajustar a fonte dentro das fases */
.phase span {
    font-size: 1.5vw;
    text-align: center;
}

/* Destaques e estados das fases */
.phase.active {
    box-shadow: 0 0 1.5vw 0.5vw yellow;
}

.phase.locked {
    filter: grayscale(100%);
    cursor: not-allowed;
}
