body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.map-container {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url('../../../imagens/fundo.png'); /* Nome da imagem alterado */
    background-repeat: repeat; /* A imagem será repetida */
    background-size: cover; /* A imagem vai cobrir a tela */
}
